.form {
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: .5rem;
    background-color: white;
    gap: .75rem;

    label {
        font-size: 1.25rem;
    }

    textarea {
        font-size: 1rem;
        padding: .25rem;
        resize:none;
        height:auto;
        min-height: 6rem;
        border: 2px solid var(--mainBlue);
        border-radius: .5rem;
        outline: transparent;
    }

    button {
        font-size: 1.25rem;
        transition: .15s;
        background-color: var(--mainBlue);
        color: white;
        border: none;
        padding: .5rem;
        border-radius: .5rem;
        cursor: pointer;

        &:hover {
            background-color: var(--mainBlueShadow);
        }
    }
}