.aside {
    position: fixed;
    left: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    min-width: 10vw;
    max-width: 180px;

    .navLink {
        width: 100%;
        padding: .5rem .75rem;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: .5rem;
        background-color: white;
        cursor: pointer;

        &:first-child {
            border-radius: .5rem .5rem 0 0;
        }

        &:last-child {
            border-radius: 0 0 .5rem .5rem;
        }

        &:hover {
            background-color: lightgray;
        }
    }

    .active {
        background-color: var(--mainBlue);
    }
}