.request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    background-color: white;
    border-radius: .5rem;
    padding: .5rem;

    h2 {
        font-size: 1.25rem;
        font-weight: normal;
    }

    .buttons {
        display: flex;
        gap: 1rem;

        button {
            cursor: pointer;
            font-size: 1rem;
            border: none;
            border-radius: .5rem;
            padding: .5rem;
            outline: transparent;
            transition: .15s;

            &:first-child {
                background-color: var(--mainBlue);
                &:hover {
                    background-color: var(--mainBlueShadow);
                }
            }

            &:last-child {
                background-color: var(--error);
                &:hover {
                    background-color: var(--errorShadow);
                }
            }
        }
    }
}